%html
  %head
    %title Grants Dashboard
    - if Rails.env == 'production' || Rails.env == 'staging'
      =javascript_include_tag '/fluxx_engine/dist/fluxx.engine.full.min.js'
    - else
      =javascript_include_tag '/fluxx_engine/dist/fluxx.engine.full.js'
    
    =stylesheet_link_tag '/fluxx_engine/theme/default/css/style.css'
    :javascript
      $.extend(true, {
        fluxx: {
          config: {
            icon_path: '/fluxx_engine/theme/default/images/icons',
            realtime_updates: {
              enabled: true,
              options: {
                url: '/realtime_updates'
              }
            },
            header: {
              actions: [
                '#{link_to current_user.full_name.blank? ? (current_user.email.blank? ? current_user.login : current_user.email) : current_user.full_name, current_user, :class => 'new-detail'}',
                '#{link_to 'Logout', destroy_user_session_path}'
              ]
            },
            dock: {
              quicklinks: [
                [
                  {
                    label: 'New Org',
                    url: '#{new_organization_path}',
                    className: 'new-detail',
                    type: 'style-ql-library small'
                  },
                  {
                    label: 'New Person',
                    url: '#{new_user_path}',
                    className: 'new-detail',
                    type: 'style-ql-user small'
                  },
                  {
                    label: 'New Request',
                    url: '#',
                    className: 'noop',
                    popup: [
                      '#{link_to 'New Grant Request', new_grant_request_path, :class => 'new-detail'}',
                      '#{link_to 'New Fip Request', new_fip_request_path, :class => 'new-detail'}'
                    ],
                    type: 'style-ql-documents small'
                  }
                ],
                [
                  {
                    label: 'PLUS',
                    url: '#',
                    className: 'noop',
                    type: 'plus small',
                    popup: [
                      '#{link_to 'Organizations', organizations_path, :class => 'new-listing'}',
                      '#{link_to 'People', users_path, :class => 'new-listing'}',
                      '#{link_to 'Requests', grant_requests_path, :class => 'new-listing'}',
                      '#{link_to 'Grants', granted_requests_path, :class => 'new-listing'}',
                      '#{link_to 'Reports', request_reports_path, :class => 'new-listing'}',
                      '#{link_to 'Transactions', request_transactions_path, :class => 'new-listing'}'
                    ]
                  }
                ]
              ]
            }
          }
        }
      });

  %body#fluxx
    Loading Dashboard
    :javascript
      $(window).load(function() {
        $('body').fluxxStage();
      });