%html
  %head
    %title Grants Dashboard
    - preload_javascripts = Dir.glob("#{Rails.root}/public/javascripts/fluxx_engine/lib/*.js").map{|filename| filename.gsub("#{Rails.root}/public", '')}.select{|filename| filename =~ /lib\/jquery/}
    - preload_javascripts.sort.each do |filename|
      =javascript_include_tag filename
    - (Dir.glob("#{Rails.root}/public/javascripts/fluxx_engine/lib/*.js").sort.map{|filename| filename.gsub("#{Rails.root}/public", '')} - preload_javascripts).each do |filename|
      =javascript_include_tag filename
    - Dir.glob("#{Rails.root}/public/javascripts/fluxx_engine/src/**/*.js").sort.map{|filename| filename.gsub("#{Rails.root}/public", '')}.each do |filename|
      =javascript_include_tag filename
    
    =stylesheet_link_tag '/stylesheets/compiled/fluxx_engine/theme/default/style.css'
    =stylesheet_link_tag '/stylesheets/compiled/fluxx_crm/theme/default/style.css'
    =stylesheet_link_tag '/stylesheets/compiled/fluxx_grant/theme/default/style.css'
    :javascript
      $.extend(true, {
        fluxx: {
          config: {
            icon_path: '/fluxx_engine/theme/default/images/icons',
            realtime_updates: {
              enabled: true,
              options: {
                url: '/realtime_updates'
              }
            },
            header: {
              actions: [
                '#{link_to current_user.full_name.blank? ? (current_user.email.blank? ? current_user.login : current_user.email) : current_user.full_name, current_user, :class => 'new-detail'}',
                '#{link_to 'Logout', logout_path}'
              ]
            },
            dock: {
              quicklinks: [
                [
                  {
                    label: 'New Org',
                    url: '#{new_organization_path}',
                    className: 'new-detail',
                    type: 'style-ql-library small'
                  },
                  {
                    label: 'New Person',
                    url: '#{new_user_path}',
                    className: 'new-detail',
                    type: 'style-ql-user small'
                  },
                  {
                    label: 'New Request',
                    url: '#',
                    className: 'noop',
                    type: 'style-ql-documents small',
                    popup: [
                      '#{link_to 'New Grant Request', new_grant_request_path, :class => 'new-detail'}',
                      '#{link_to 'New Fip Request', new_fip_request_path, :class => 'new-detail'}'
                    ]
                  },
                  {
                    label: 'New Project',
                    url: '#{new_project_path}',
                    className: 'new-detail',
                    type: 'style-ql-project small'
                  }
                ],
                [
                  {
                    label: 'Show Card',
                    url: '#',
                    className: 'noop',
                    type: 'plus small',
                    popup: [
                      '#{link_to 'Projects', projects_path, :class => 'new-listing'}',
                      '#{link_to 'Organizations', organizations_path, :class => 'new-listing'}',
                      '#{link_to 'People', users_path, :class => 'new-listing'}',
                      '#{link_to 'Requests', grant_requests_path, :class => 'new-listing'}',
                      '#{link_to 'Grants', granted_requests_path, :class => 'new-listing'}',
                      '#{link_to 'Reports', request_reports_path, :class => 'new-listing'}',
                      '#{link_to 'Transactions', request_transactions_path, :class => 'new-listing'}'
                    ]
                  }
                ]
              ]
            }
          }
        }
      });

  %body#fluxx
    Loading Dashboard
    :javascript
      $(document).ready(function() {
        $('body').fluxxStage();
      });