!!!
%html
  %head
    %title Fluxx Grant
    = stylesheet_link_tag :all
    = stylesheet_link_tag '/stylesheets/compiled/fluxx_engine/theme/default/login.css'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container
      .pinwheel
      .content= yield
