-# logger.debug "ESH: I'm in request_detail with #{model.id}"

%description
  =haml_cdata do
    %div.hgrant
      %h2{:class => :title, :name => "grant-#{model.id}"}
        %a{:class => "url", :href=> url_for(model)}
          ="#{model.program_org_name} #{model.granted ? model.grant_id : model.request_id} #{(model.amount_recommended || model.amount_requested).to_currency(:precision => 0)}"
      %div
        Program: 
        %span.sector
          =model.program_name
      %div{:class => "grantor vcard"}
        %h3 Grantor
        %span{:class => "fn org"}
          %a{:class => "url", :href=>"http://ef.org"}Energy Foundation</a>
        %p.adr
          %span.street-address 301 Battery Street
          %span.extended-address 5th Floor
          %span.locality San Francisco
          ,
          %abbr{:title=>"California", :class=>"region"} CA
          %span.postal-code 94111

      %div{:class => "geo-focus vcard"}
        %a{:class => "url", :href => url_for(model)} permalink

      %div{:class => "grantee vcard"}
        %h3 
          Grantee
          %span{:class => "fn org"}
            = model.program_org_name
            %p.adr
              %span.street-address= model.program_org_street_address
              %span.extended-address= model.program_org_street_address2
              %span.locality= model.program_org_city
              %span{:class => :region, :title => model.program_org_state_name}= model.program_org_state_name
              %span{:class => :country_name, :title => model.program_org_country_name}= model.program_org_country_iso3
              %span.postal-code= model.program_org_postal_code

      %p.amount
        %abbr{:class => "currency", :title => "USD"} $
        %abbr{:class => "amount", :title => model.amount_recommended}= number_with_precision(model.amount_recommended, :precision => 2, :separator => '.', :delimiter => ',')
      %p.period
        Grant Period: 
        %abbr{:class => :dtstart, :title => (model.grant_begins_at ? model.grant_begins_at.hgrant : '')}= (model.grant_begins_at ? model.grant_begins_at.abbrev_month_year : '')
        %abbr{:class => :dtend, :title => (model.grant_ends_at ? model.grant_ends_at.hgrant : '')}= (model.grant_ends_at ? model.grant_ends_at.abbrev_month_year : '')
      %div.description= model.project_summary